/**
 *   Univerzalni pravidla pro css.
 */
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}



/* ************************************************************************************************************ */
/* **************    OBYVATELE       ************************************************************************** */
/* ************************************************************************************************************ */
/* vnejsi accordion */
.obyvatele_detail_accordion1 {}
.obyvatele_detail_accordion1 .card-header {padding: 0.5rem 1.25rem; background-color: #fff; /* defaultne #f0f3f5 */ border: 0px;}
.obyvatele_detail_accordion1 .card-header a {color: #000; font-size: 16px;}

/* rozbaleny symbol */
.obyvatele_detail_accordion1 .card-header a:before {
    content: "\f107";

    font-family: "FontAwesome";
    font-weight: 900;
    width: 55px;
    height: 100%;
    text-align: center;
    line-height: 40px; /* timto lze nastavit svisle zarovnani znaku*/
    /*border-left: 2px solid #D11149;*/
    position: absolute;
    top: 0;
    right: 0;
}

/* zabaleny symbol */
.obyvatele_detail_accordion1 .card-header a.collapsed:before {content: "\f106";}

/* vlastni modry text v hlavicce acordionu, v divu, jinak nejde nastavit width */
.obyvatele_detail_accordion1 .card-header .accordion_header_value {float: right; width: 80%; text-align: center; padding-right: 50px; color: #5fb2da; font-size: 14px;}

.obyvatele_detail_accordion1 .card-body {padding: 0.25rem; }

/* ******************************************************** */
/* vnitrni accordion = vnoreny  */
.obyvatele_detail_accordion2 {}
.obyvatele_detail_accordion2 .card {border-radius: 0px;}

/* rozbaleno */
.obyvatele_detail_accordion2 .card-header {}
.obyvatele_detail_accordion2 .card-header a {font-weight: bold;} /* rozkliknute je tucne */

/* jenom pres css zajistuji zobrazeni a skryti informace
.obyvatele_detail_accordion2 .card-header a .accordion_header_value {display: none;}  */

.obyvatele_detail_accordion2 .card-header a:before {
    position: absolute; top: 0; left: 0;
    content: "\f107";
    font-family: "FontAwesome";
}

/*zabaleno*/
.obyvatele_detail_accordion2 .card-header a.collapsed {font-weight: normal;} /* nerozkliknute normalni */
/*.obyvatele_detail_accordion2 .card-header a.collapsed  .accordion_header_value {display: inline-block;}*/
.obyvatele_detail_accordion2 .card-header a.collapsed:before {
    position: absolute; top: 0; left: 0;
    content: "\f105";
    font-family: "FontAwesome";}

/* odsazeni textu vnitrniho acordionu*/
.obyvatele_detail_accordion2 .card-header {padding-left: 50px; }

/*defaultni pozadi headeru z bootstrapu, ale acordionem 1 jsem si to prepsal*/
.obyvatele_detail_accordion2 .card-header {background-color: #f0f3f5; }
.obyvatele_detail_accordion2 .card-body {padding: 0px;}
.obyvatele_detail_accordion2 .card-body .table {margin-bottom: 0px; }
.obyvatele_detail_accordion2 .card-body .table th { padding-left: 50px; }

/* ************************************************************************************************************ */
/* **************   KONEC   OBYVATELE       ******************************************************************* */
/* ************************************************************************************************************ */





/* ************************************************************************************************************ */
/* **************    DEFEKTY OBYVATEL       ************************************************************************** */
/* ************************************************************************************************************ */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes font-animation-right  {
    0%   {text-align: right;font-size:0px;opacity: 0;width: 0px}
    70%  {text-align: right;font-size:20px;opacity: 0.7;width: 70px}
    100% {text-align: right;font-size:13px;opacity: 1;width: 100px}
}

@keyframes font-animation-right {
    0%   {text-align: right;font-size:0px;opacity: 0;width: 0px}
    70%  {text-align: right;font-size:20px;opacity: 0.7;width: 70px}
    100% {text-align: right;font-size:13px;opacity: 1;width: 100px}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes img-animation-right  {
    0%   {right:100px;object-position: right top;opacity: 0; alignment: right; object-fit: cover;height: 25px; width: 40px}
    100% {right:100px;object-position: right top;opacity: 1;alignment: right; object-fit: cover;height: 25px; width: 81px}
}

@keyframes img-animation-right {
    0%   {right:100px;object-position: right top;opacity: 0; alignment: right; object-fit: cover;height: 25px; width: 40px}
    100% {right:100px;object-position: right top;opacity: 1;alignment: right; object-fit: cover;height: 25px; width: 81px}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes font-animation-left  {
    0%   {font-size:0px;opacity: 0;width: 0px}
    70%  {font-size:20px;opacity: 0.7;width: 70px}
    100% {font-size:13px;opacity: 1;width: 100px}
}

@keyframes font-animation-left {
    0%   {font-size:0px;opacity: 0;width: 0px}
    70%  {font-size:20px;opacity: 0.7;width: 70px}
    100% {font-size:13px;opacity: 1;width: 100px}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes img-animation-left  {
    0%   {object-position: left top;opacity: 0; alignment: left; object-fit: cover;height: 25px; width: 40px}
    100% {object-position: left top;opacity: 1;alignment: left; object-fit: cover;height: 25px; width: 81px}
}

@keyframes img-animation-left {
    0%   {object-position: left top;opacity: 0; alignment: left; object-fit: cover;height: 25px; width: 40px}
    100% {object-position: left top;opacity: 1;alignment: left; object-fit: cover;height: 25px; width: 81px}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes font-size-animation  {
    0%   {font-size:16px;}
    100% {font-size:13px;}
}

@keyframes font-size-animation {
    0%   {font-size:16px;}
    100% {font-size:13px;}
}

#human-defects .left-side label {
    top: -10px !important;
    left: 88px !important;
    text-align: left;
    -webkit-animation-name: font-animation-left; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: font-animation-left;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#human-defects .right-side label {
    top: -10px !important;
    left: -105px !important;
    text-align: right;
    -webkit-animation-name: font-animation-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: font-animation-right;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#human-defects .left-side img {
    -webkit-animation-name: img-animation-left; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: img-animation-left;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#human-defects .right-side img {
    -webkit-animation-name: img-animation-right; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
    animation-name: img-animation-right;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

#human-defects .human-label img {
    position: absolute;
    height: 25px;
}

#human-defects .human-label label {
    position: absolute;
    font-weight: bold;
    width: 100px;
    font-size: 13px;
}

#human-defects .human-label {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 182px;
}

#human-defects img {
    width: auto;
    margin: 0;
}

#human-defects .cross-cursor {
    cursor: crosshair;
}

#human-defects .default-cursor {
    cursor: default;
}

#human-defects .human-label:hover > label{
    font-size:13px;
    text-align: center;
    padding: 2px;
    top: -10px;
    z-index: 100;
    round-clip: 4px;
    background-color: ghostwhite;
    border-radius: 5px;
    -webkit-box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(95,178,281,0.35) 0px -10px 20px;
    -khtml-box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(95,178,281,0.35) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.3) 0px 5px 15px, inset rgba(95,178,281,0.35) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(95,178,281,0.35) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.4) 0px 5px 15px, inset rgba(95,178,281,0.35) 0px -10px 20px;
}

#human-defects .hidden-label {
    visibility: hidden;
}

#human-defects #body-div #zoom-out-button {
    color: white;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.5;
}


/* ************************************************************************************************************ */
/* **************   KONEC DEFEKTY OBYVATEL       ************************************************************************** */
/* ************************************************************************************************************ */